
@import '../main.scss';


.explore__cards {
    margin: 1rem 0 2.3rem;
    display: flex;
    align-items: center;
}

.explore__cards__item {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    border: 1px solid rgb(235, 235, 235);
    flex-basis: 35%;
    margin-right: 2rem;
} 


.explore__cards__item__image {
    height: 5rem;
    width: 10rem;
    background-size: cover;
}

.img--house {
    background-image: url('./Media/houses.jpg');
}

.img--gym {
    background-image: url('./Media/gym.jpg');
}

.explore__cards__item__text {
    padding: 0 0 0 1rem;
    font-weight: bold;
}

  
  /* ##Device = Tablets, Ipads (portrait) ---- ##Screen = B/w 768px to 1024px */
  @media (min-width: 768px) and (max-width: 1024px) {
    .explore__cards__item {
        flex-basis: 45%;
    } 
    .explore__cards__item__image {
        height: 6rem;
        width: 11.5rem;
    }
  }
  
  /* ##Device = Low Resolution Tablets, Mobiles (Landscape) ---- ##Screen = B/w 481px to 767px */
  @media (min-width: 481px) and (max-width: 767px) {
      .explore__cards__item {
          flex-direction: column;
          flex-basis: 45%;
      }
      .explore__cards__item__image {
          height: 7rem;
          width: 100%;
      }
      .explore__cards__item__text {
          padding: 1rem 0;
      }
  }
  
  /* ##Device = Most of the Smartphones Mobiles (Portrait) ---- ##Screen = B/w 320px to 479px */
  @media  (max-width: 480px) {
      .explore__cards {
          flex-direction: column;
          width: 100%;
      }
    .explore__cards__item {
        flex-direction: column;
        width: 80%;
        margin:0 0 1rem 0;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;

    }
    .explore__cards__item__text {
        padding: 1rem 0;
    }
    .explore__cards__item__image {
        height: 0;
    }
  }
  
  
  
