
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.465);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal__container {
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    width: 25rem;
    padding: 2rem;
  }
  
  .modal__close {
    color: lightgray;
    float: right;
    font-size: 2rem;
    cursor: pointer;
  }

  .modal__visitor {
      margin: 2rem 0 0 0;
      font-size: 0.8rem;
      font-weight: bold;
      color: rgb(8, 136, 179);
  }

  .login {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
  }

  .login__form {
      display: flex;
      flex-direction: column;
      margin: 1.5rem 0 1.5rem;
      width: 80%;
  }

  .login__input {
      margin: 0 0 1rem;
      padding: 0.5rem;
      border: 1px solid gainsboro;
      color: rgb(90, 90, 90);
      font-size: 1rem;
      border-radius: 3px;
  }

  .login__button {
        margin: 0 0 1rem;
        padding: 0.5rem;
        font-size: 1rem;
        background-color: rgb(231, 79, 79);
        color: whitesmoke;
        font-weight: bold;
        border: none;
        border-radius: 3px;
    }

    .login__change {
        padding: 0;
        border: none;
        background-color: white;
        cursor: pointer;
        font-weight: bold;
        color: rgb(8, 136, 179);
        font-size: 1rem;
    }

    .login__error {
        margin-top: 1rem;
        color: rgb(228, 63, 63);
    }

    .wallpaper {
        background-image: url('./wallpaper.gif');
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
    }
    
    .wallpaper--shadow {
        background-color: rgba(0, 0, 0, 0.465);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wallpaper__menu {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 2rem;
        border-radius: 4px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .wallpaper__menu__title {
        background-color: transparent;
        font-weight: bold;
        font-size: 2.5rem;
    }

    .wallpaper__menu__p {
        padding: 1rem;
        background-color: transparent;
    }

    .wallpaper__menu__button {
        border: none;
        width: 13rem;
        text-align: center;
        padding: 0.5rem 0;
        margin: 0.2rem 0;
        cursor: pointer;
        font-size: 1rem;
        background-color: rgb(231, 79, 79);
        color: whitesmoke;
        font-weight: bold;
        border-radius: 4px;
    }


  
  /* ##Device = Low Resolution Tablets, Mobiles (Landscape) ---- ##Screen = B/w 481px to 767px */
  @media (min-width: 481px) and (max-width: 767px) {
    //CSS
  }
  
  /* ##Device = Most of the Smartphones Mobiles (Portrait) ---- ##Screen = B/w 320px to 479px */
  @media (min-width: 320px) and (max-width: 480px) {
    //CSS
  }
  
  
  