.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.465);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal__container {
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    width: 25rem;
    padding: 2rem;
  }
  
  .modal__close {
    color: lightgray;
    float: right;
    font-size: 2rem;
    cursor: pointer;
  }

  .modal__visitor {
      margin: 2rem 0 0 0;
      font-size: 0.8rem;
      font-weight: bold;
      color: rgb(8, 136, 179);
  }

  .login {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
  }

  .login__form {
      display: flex;
      flex-direction: column;
      margin: 1.5rem 0 1.5rem;
      width: 80%;
  }

  .login__input {
      margin: 0 0 1rem;
      padding: 0.5rem;
      border: 1px solid gainsboro;
      color: rgb(90, 90, 90);
      font-size: 1rem;
      border-radius: 3px;
  }

  .login__button {
        margin: 0 0 1rem;
        padding: 0.5rem;
        font-size: 1rem;
        background-color: rgb(231, 79, 79);
        color: whitesmoke;
        font-weight: bold;
        border: none;
        border-radius: 3px;
    }

    .login__change {
        padding: 0;
        border: none;
        background-color: white;
        cursor: pointer;
        font-weight: bold;
        color: rgb(8, 136, 179);
        font-size: 1rem;
    }

    .login__error {
        margin-top: 1rem;
        color: rgb(228, 63, 63);
    }